

body {
    width: 1000px;

    margin: 0 auto;
}


header {
    text-align: center;
    margin: 0 auto;
    background-color: #999;
}
header ul {
    list-style-type: none;
    display:flex;
    padding: 0;

}
header ul li {
    flex-grow:1;
    position: relative;
    transition: all 0.5s linear;
}
header ul li a:hover{
    background-color: #333;
    color: #fff;
    border-color: #aaa;
    text-decoration: none;

}
header>ul > li a {
    display:block;
    text-decoration: none;
    background-color: #aaa;
    border-radius: 10px 10px 0 0;
    padding:5px 0;
    border: 1px solid black;
    transition: all 0.5s linear;
}
header > ul > li > ul {
    display:none;
    opacity: 0;
    position: absolute;

}


header > ul > li:hover > ul {
    display: flex;
    padding: 0;
    flex-direction: column;
    align-content: center;
    opacity: 1;

}
header > ul > li > ul > li {
    width: 250px;

}
main{
    background-color: #88B0BF;
}
footer {
    background-color: #999;
    text-align: center;
    margin: 0 auto;
}
footer ul{
    display: flex;
    flex-direction: row;
    padding:0;

}
footer > ul > li {
    list-style-type: none;
    flex-grow: 1;


}
footer ul li a {
    display: block;
    text-decoration: none;
    background-color: #aaa;
    border-radius: 10px 10px 0 0;
    padding: 0 auto;
    border: 1px solid #333;
}
footer ul li a:hover{
    background-color: #333;
    color: #fff;
    border-color: #aaa;
    text-decoration: none;
}
a {
    color: black;
}


a:visited{
    color:black;
    text-decoration: none;
}

@media screen and (min-width:1000px){
    body{
        width: 1000px;
    }
}
@media screen and (max-width:1000px){
    body{width:100%;
    }}