/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 18 déc. 2019, 09:35:11
    Author     : kbidault
*/
table{
    background-color:#FCF0E6;
    border-collapse: collapse;
    border-radius: 100px;
}
td.non{color:red;}
td.oui{color:green}
tbody tr:nth-child(odd) td{
    background-color:#ddd;
}
thead th, tfoot th{
    background-color:#777;
    color:#fff;
}
thead, tfoot {
    border: 2px solid #5FA2BA;
    border-radius: 1000px;
}
tbody {
    border-right: 2px solid greenyellow;
    border-left: 2px solid greenyellow;
}
tbody td:nth-child(3){
    text-align: center;
    font-weight: bolder;
}