/*body {
    font-family: arial;
    background-color: #FFC299;

}



nav {
    padding: 0;
    position: sticky;
    top: 0;
    height: 40px;
    width: 1920px;
    background-color: black;

}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 350px;
}
nav ul li {
    display: inline;

}
nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
}
nav ul li a:visited{
    color: white;
}
nav ul li a:hover{
    background-color: #c5a45a;
    color: white;
    border: 1px solid white;
    border-radius: 10px 10px 3px 3px;
}



header {
    width: 1920px;
    height: 180px;
    font-size: 28px;
    text-align: center;
    color: #804A26;
}


main{
    margin-left: 350px;
    margin-right: 350px;
}
main h5 {
    text-decoration: underline;
}



footer{
    background-color: white;
    letter-spacing: 1px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

}*/

/*
footer ul{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center; flex-direction: column;


}
footer  ul li {
    display:flex;
    justify-content: center;
}
footer  ul li a{

    flex-direction: column;

}
footer > #footer1 {
    display:flex;flex-direction: column;
    margin-left: 500px;;
}
footer > #footer1 > li{

}
footer > #footer1 > li > a{

}
footer > #footer2{
    display:flex;
    flex-direction: column;
}

footer > #footer2 > li{


}
footer > #footer2 > li > a{

}
footer > #footer3 {
    display:flex;flex-direction: column;
    margin-right:500px;
}
footer > #footer3 > li{

}
footer > #footer3 > li > a{

}*/
body {
    font-family: 'Open Sans Condensed', sans-serif;
    display: grid;
    grid-template-columns:300px auto 300px;
    grid-template-rows:50px 100px auto 1fr 1fr;
    background-color: black;
}
div#slider { width: 100%; max-width: 1920px; overflow: hidden ;
}
div#slider figure {
    position: relative;
    width: 400%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
    animation: 30s slidy infinite;
}
div#slider figure img { width: 25%; height: auto; float: left; }
@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}


nav {
    grid-column: 2/2;
    grid-row:1/1;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    position: sticky;
    top: 0;
    background-color: black;
    font-size: 28;
}
nav ul {

}
nav ul li {
    display: inline;
}
nav ul li a{

    transition: all 0.3s linear;
    padding: 10px;
    text-decoration: none;
}
nav ul li a:visited{
    color: white;
}
nav ul li a:hover{
    background-color: #c5a45a;
    color: white;
    border: 1px solid white;
    border-radius: 10px 10px 3px 3px;
}
header{
    grid-column: 2/2;
    grid-row:2/2;
    font-size: 32px;
    text-align: center;
    color: #c5a45a;

}
div{
    grid-row: 3/3;
    grid-column:2/3;
    height: 1000px;
}
main{
    grid-column: 2/2;
    grid-row:3/3;
    font-size: 28px;
}
main h5{
    text-decoration: underline;
    color : #c5a45a;
}
main p {
    color: white;
}
footer{
    grid-column: 2/2;
    grid-row:5/5;
    color: #c5a45a;
    display:grid;
    grid-template-columns:20% 20% 20% 20% 20%;


}
footer ul li {
    list-style-type: none;
    font-size: 28px;
}
footer ul li a{
    text-decoration: none;
    font-size: 24px;
}
footer ul li a:visited{
    color: white;
}
footer #footer1 {
    grid-column : 2/2;
}
footer #footer2 {
    grid-column : 3/3;
}
footer #footer3 {
    grid-column : 4/4;
}
footer #footer4{
    grid-column : 5/5;
}
#btn_message {
    color:white;
    background-color: #c5a45a;
    border-radius: 30px;
    border: 1px solid darkorange;
    font-size: 20px;
    margin:3px;
    padding: 5px;
}
#tel {
    color: gray;
    font-size: 18px;
}
main img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
