body {
    font-family: 'Josefin Slab', serif;
    display: grid;
    grid-template-columns:300px auto 300px;
    grid-template-rows:50px 100px auto 1fr 1fr;
    background-color: black;
}
.logo {

}
div#slider { width: 100%; max-width: 1920px; overflow: hidden ;
}
div#slider figure {
    position: relative;
    width: 400%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
    animation: 30s slidy infinite;
}
div#slider figure img { width: 25%; height: auto; float: left; }
@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}
nav {
    grid-column: 2/2;
    grid-row:1/1;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    position: sticky;
    top: 0;
    background-color: black;
    font-size: 18px;
}
nav ul {

}
nav ul li {
    display: inline;
}
nav ul li a{

    transition: all 0.3s linear;
    padding: 10px;
    text-decoration: none;
}
nav ul li a:visited{
    color: white;
}
nav ul li a:hover{
    background-color: #c5a45a;
    color: white;
    border: 1px solid white;
    border-radius: 10px 10px 3px 3px;
}
header{
    grid-column: 2/2;
    grid-row:2/2;
    font-size: 32px;
    text-align: center;
    color: #c5a45a;

}
